<div>
    <h1>Welcome to Quiz App</h1>
    <p class="font-weight-bold">Instructions</p>
        <ul>
            <li>10 questions to be answered in 5 minutes</li>
            <li>You have to select one exam between Javascript/AspNetQuiz/csharp/designPatterns</li>
            <li>After Exam Close the browser</li>
            <li>Despite the initial thrill of an affair, cheating can negatively affect the cheater emotionally. It's common for them to feel anxiety, guilt, shame, worry, regret, confusion, embarrassment, and self-loathing when they contemplate how their actions impact those they love and why they cheated in the first place</li>
        </ul>
    <button type="submit" class="btn btn-primary" (click)="goToExam()">Submit</button>
</div>